div.jumbotron {
   text-align: center;
   background: none;
}

div.sectionLight {
   background-color: #eceeef;
   padding: 2rem;
}

div.sectionDark {
   background-color: #ccc;
   padding: 2rem;
}

div.coolStuffWrapper {
   margin-top: 20px;
}

button.coolStuffBtn {
   background-color: red;
   color: #fff;
   display: block;
   margin: auto;
}

h5.modal-title {
   margin: auto;
}

div.modalFormWrapper {
   margin-top: 8px;
   padding: 2rem;
}

img.imgCenter {
   display: block;
   margin: auto;
}

button.btnCenter {
   display: block;
   margin: 15px auto 20px auto;
   width: 75%;
}

img.footerImg {
   padding: 15px;
}

i.fa {
   margin: 10px;
}

i.fa-facebook-square {
   color: #3b5998;
}

i.fa-google-plus-square {
   color: #c32f10;
}

i.fa-instagram {
   color: #fff;
}

div.socialWrapper {
   margin: auto;
}